<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FastReport</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
    <div class="container">
        <div class="container">
            <h3>FastReport API Tool</h3>
            <button onclick="trigger()">Trigger</button>
            <button onclick="getConfigs()">Get Config</button>
            <button onclick="getBaselineConfigs()">Get Baseline Config</button>
        </div>
        <div class="container">
            <div class="six columns">
                <label for="strategy">Choose Startegy</label>
                <select class="u-full-width" id="strategy">
                    <option value="desktop">Desktop</option>
                    <option value="mobile">Mobile</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="container" id="final-report"></div>
        <div class="container">
            <h4>Realtime status logs</h4>
            <div id="trigger-status"></div>
        </div>
        <hr />
        <div class="container">
            <h4>API call responses</h4>
            <div id="configs"></div>
        </div>
    </div>

</body>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript">
    const socket = io('http://localhost:5000', {
        path: '/socket.io',
        transports: ['websocket'],
        rejectUnauthorized: false
    })
    socket.on("connect_error", (err) => {
        console.log(`connect_error due to ${err.message}`);
    });
    socket.on('connect', () => {
        console.log('connected')
    })
    socket.on("disconnect", () => {
        console.log(socket.id); // undefined
    });
    socket.on('status', (data) => {
        const { message } = Object.values(data)[0]
        setJSONInnerHTML('trigger-status', data, message, false);
    })
    socket.on('final-report', (data) => {
        const { html } = data
        if (html) {
            const container = document.getElementById('final-report')
            const prevHTML = container.innerHTML
            container.innerHTML = "<h4>Final Report</h4>" + html + "<hr/>" + prevHTML
        }
    })
    const APIKEY = 'DA0524CF-3073-4346-ACDA-F5816650FE8A';
    const trigger = async () => {
        socket.emit('join', JSON.stringify({
            clientId: APIKEY
        }))
        const strategy = getChosenStrategy();
        const url = `/api/trigger?apiKey=${APIKEY}&strategy=${strategy}`
        const response = await fetch(url);
        const json = await response.json();
        console.log(json);
        setJSONInnerHTML('configs', json, url);
        return json;
    };

    const getConfigs = async () => {
        const url = "/api/config"
        const response = await fetch(url);
        const json = await response.json();
        console.log(json);
        setJSONInnerHTML('configs', json, url);
        return json;
    };

    const getBaselineConfigs = async () => {
        const url = "/api/baseline"
        const response = await fetch(url);
        const json = await response.json();
        console.log(json);
        setJSONInnerHTML('configs', json, url);
        return json;
    };
    const getCurrentDateAndTime = () => {
        const currentdate = new Date();
        return currentdate.getDate() + "/"
            + (currentdate.getMonth() + 1) + "/"
            + currentdate.getFullYear() + " @ "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();
    }

    const getChosenStrategy = () => {
        const el = document.getElementById('strategy');
        return el.options[el.selectedIndex].value;
    }

    const setJSONInnerHTML = (id, json, api = "api", showResponse = true) => {
        const prevHTML = document.getElementById(id).innerHTML;
        document.getElementById(id).innerHTML = (`<h5>‣ ${api} ${getCurrentDateAndTime()}</h5>` + (showResponse ? `<pre class="prettyprint">${JSON.stringify(json, null, 4)}</pre>` : '') + prevHTML);
    };

</script>

</html>